apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: grafana
spec:
  interval: 10m
  chart:
    spec:
      chart: grafana
      version: ">=7.0.0"
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: grafana
      interval: 1h
  values:
    adminUser: admin
    adminPassword: admin
